.board_free_list_board{
    border-top: solid 1px #d5d3d3;
    text-decoration-line: none;
    margin-top: 0.5rem;

    padding-top: 0.5rem;
}

.board_free_list{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.board_free_list_table{
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin-top: 2rem;
}
.board_free_list_board_list{
    text-decoration-line: blink;
    color: black;
}
.board_free_list_board_list:hover{
    text-decoration-line: underline;
    color: #1e1d1d;
}


.board_free_detail{
    border:solid 1px #bebbbb;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.board_detail_main{
    border-top: solid 1px black;
}
.board_detail_main2{
    border-bottom: solid 1px black;
}

.board_free_contents_button{
    margin-bottom: 2rem;

    padding: 0.5rem;

}



.board_free_write_title{
    margin-top: 2rem;
}

.board_free_write_createdBy{
    margin-top: 2rem;
}

.board_free_write_contents{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.board_free_write_button{
    margin-bottom: 3rem;
}
.board_free_write_form{
    resize: none;
    white-space: pre-line;
    word-break: break-all;
}

.board_free_write_buttons{
    margin: 0.3rem;
}


.board_free_list_title{
    margin-top: 2rem;
}

.board_free_list_button{
    margin-top: 2rem;
}
.board_free_list_buttons{
    margin: 0.3rem 0.3rem 1rem;

}
.board_free_list_last_button{
    margin-top: 0.5rem;
    margin-bottom: 3rem;

}


.board_free_update_button{
    margin-bottom: 3rem;
}

.board_free_update_title{
    margin-top: 2rem;
}

.board_free_update_createdBy{
    margin-top: 2rem;
}

.board_free_update_contents{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.board_free_update_form{
    resize: none;
}
.board_free_update_buttons{
    margin: 0.3rem;
}




.board_free_createdby{
    margin-left: 1.3rem;
}
.board_free_createdat{
    margin-top: -0.6rem;
    margin-left: 1.5rem;
}


.board_free_table{
    border-bottom: solid 1px #d5d3d3;
}
.board_free_title{
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.board_free_contents{
    width: 47rem;
    height: auto;
    padding: 0.2rem;



}

.board_free_contents_white{
    white-space: pre-wrap;
    text-align: start;
    margin-left: 1rem;
    margin-top: 1rem;
    max-width: 45rem;
    word-break: break-all;
}

.board_free_contents_buttons{
    margin: 0.3rem;
    color: white;
}

.test2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}