.box {
    display: flex;
  
}
.secondbox {
 
    width: 100%;
    height: 100%;
}

.orderimg {
    width: 120px;
    height: 90px;
}

.dashboard {
    font-family : "TheJamsil5Regular";
}

.orderstable {
width: 95%;
margin-left: 3%;
   margin-top: 20px;
   
}

.orderbox {
    border: 1px solid #e5e5e5;
}

.title {
    margin-left: 80px;
    margin-top: 3.4px;
    display: flex;
}

.orderBtn {
    width: 60px;
}
.title1 {
    padding-left: 70px;
    padding-right: 20px;
}
.title2{
    margin-left: -150px;
    margin-right : 130px;
}